@import url('https://fonts.googleapis.com/css?family=Creepster');

body {
  background: black;
}
/* ESTILOS DE LA CABECERA */
h1 {
  font-family: 'Creepster', cursive;
  font-size: 4em;
  color: #f27503;
  text-shadow: 5px 5px 10px #68aa00;
  letter-spacing: 5px;
  
}

header {
  height: 200px;
  padding-bottom: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  
}

.hide{
  visibility:hidden;
}

button {
    border-radius: 60px;
    border-color: #f27503;
    color: #000000;
    font-family: 'Creepster', cursive;
    font-size: 30px;
    background-color: #f27503;
    text-decoration: none;
    
}
button:hover {
	color: #68aa00;
}
button:active {
	position:relative;
	top:1px;
}

/* ESTILOS DEL TABLERO */

#game-board {
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  /* background: rgba(99, 146, 37, 0.5); */
}

canvas {
  background: black;
}

#control-area {
  width: 250px;
  background:black;
  display:flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: center;

  border-left: dashed 2px #f27503;
}

#score-area {
  width:250px;
  padding-top: 10px;
  /* background: rgba(207, 121, 9, 0.5); */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  font-family: 'Creepster', cursive;
  font-size: 3em;
  color: white;
}

#score-area img {
  width: 40px;
  height: 40px;
}

#botones {
  width:200px;
  height: 400px;
  /* background: rgba(207, 121, 9, 0.5); */
  display: flex;
  flex-flow: row wrap;
}

#botones img {
  width: 96px;
  height: 96px;
  padding: 2px;
}

