@import url('https://fonts.googleapis.com/css?family=Creepster|Open+Sans');


body {
  margin: 0 auto;
  background:black;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: center;

}
/* -----ESTILOS DE CABECERA----- */
header {
  /* background:rgba(85, 93, 206, 0.5); */
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
}

.hide{
  visibility: hidden;
}

.hideBlock{
  display:none;
}

h1 {
  /* background:rgba(85, 206, 101, 0.5); */
  font-family: 'Creepster', cursive;
  font-size: 4em;
  color: #f27503;
  text-shadow: 5px 5px 10px #68aa00;
  letter-spacing: 5px;
  text-align: center;
}

#button-control{
  display:flex;
  flex-flow: row nowrap;
  justify-content: center;
}

button {
    display:block;
    border-radius: 60px;
    border-color: #f27503;
    color: #000000;
    font-family: 'Creepster', cursive;
    font-size: 30px;
    background-color: #f27503;
    text-decoration: none;
    align-self: center;
}

button:hover {
	color: #68aa00;
}

button:active {
	position:relative;
	top:1px;
}

/* -----FIN ESTILOS DE CABECERA----- */

/* -----ESTILOS DE GAME AREA----- */

#game-board {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  /* background: rgba(218, 22, 22, 0.5); */
}

canvas {
  background: black;
}

#control-area {
  width: 250px;
  background:black;
  display:flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: center;
  border-left: dashed 2px #f27503;
}

#score-area {
  width:250px;
  padding-top: 10px;
  /* background: rgba(207, 121, 9, 0.5); */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  font-family: 'Creepster', cursive;
  font-size: 3em;
  color: white;
}

#score-area img {
  width: 40px;
  height: 40px;
}

#progreso {
  display:flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

#progreso img {
  border-radius: 50%;
  background: grey;
  padding: 2.5px;
}

progress {
  width: 30px;
  background-color: #f27503;
  border: 0;
  height: 10px;
  border-radius: 30px;
}


progress::-webkit-progress-bar {
  background-color: grey;
}
progress::-webkit-progress-value {
  background-color: #f27503;
}

progress::-moz-progress-bar {
  background-color: #f27503;
}

#botones {
  width:250px;
  height: 400px;
  /* background: rgba(207, 121, 9, 0.5); */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#botones img {
  width: 96px;
  height: 96px;
  padding: 2px;
}

/* ----- FIN ESTILOS DE GAME AREA----- */

/* -----ESTILOS DE FOOTER----- */

footer {
  display:flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color:#f27503;
  font-size: 0.8em;
  font-family: 'Open Sans', sans-serif;
}

footer a {
  color:#f27503;
}

/* -----FIN ESTILOS DE FOOTER----- */
